/*Related to DashBoard*/
* {
  margin: 0;
}

.section-20 {
  width: 20%;
  background-color: aquamarine;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
}

.section-80 {
  width: 80%;
  background-color: blue;
  display: inline-block;
  height: 100vh;
}

/*------x--------x-------*/

.About_Uscont{
  height: 100vh;
  display: block;
  background-image: url(../About_Us\ background\ image.jpeg);
}





