* {
  margin: 0;
}
/*Related to DashBoard*/

.section-20 {
  width: 20%;
  background: linear-gradient(#084a55, #141F40);
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  padding-top: 10px;
}

.navigation-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-bar button{
  width: 75%;
  background: transparent;
  border: 0;
  color: #FFFFFF;
  padding-bottom: 10px;
}

.section-80 {
  width: 80%;
  background: linear-gradient(#141F40, #000000);
  display: inline-block;
  height: 100vh;
}

.dashboard-header, .dashboard-body {
  text-align: center;
  color: #FFFFFF;
}

/*------x--------x-------*/

.About_Uscont{
  height: 100vh;
  display: block;
  background-image: url(../About_Us\ background\ image.jpeg);
}

  body{
    background-image: url('https://i.pinimg.com/736x/73/97/55/739755622c248729cfe14c8bc828ef41.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .form-control::placeholder {
      color: white;
  }
  .headding{
    background: linear-gradient(to right, #f32170, 
              #ff6b08, #cf23cf, #eedd44); 
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text; 
    text-align: center;
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    
  }
  
  .footer_container{
    background-color: rgb(245, 175, 43);
   
  }
  .content_middle>h2{
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive;
    font-size: 50px;
  }
  .content_middle{
    color: wheat;
    font-size: 30px;
    font-family: 'Edu TAS Beginner', cursive;
    text-align: justify ;
    
  }
  .container_WhyUs{
    color: wheat;
    font-size: 20px;
  }
  .container_WhyUs h3{
    color: seagreen
  }

  .container{
      margin-left: "0px";
      margin-right: "0px";
      padding-left:" 0px";
      padding-right: "0px";
  }

  .popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    }
    
    .popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 40%;
    }
    
    .popup-inner h2 {
    margin-top: 0;
    color:#141F40;
    }
    
    .popup-inner label {
    display: block;
    margin-bottom: 10px;
    color: #141F40;
    }
    
    .popup-inner input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    }
    
    .popup-inner button[type="submit"],
    .popup-inner button[type="button"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    }
    
    .popup-inner button[type="submit"]:hover,
    .popup-inner button[type="button"]:hover {
    background-color: #45a049;
    }
    
    .popup-inner button[type="submit"] {
    margin-top: 20px;
    }
    
    .popup-inner button[type="button"] {
    margin-top: 20px;
    background-color: #f44336;
    }
    
    .popup-inner button[type="button"]:hover {
    background-color: #da190b;
    }
    
    .popup-inner button[type="submit"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
    }
    
    .popup-inner button[type="button"]:disabled {
    background-color: #bfbfbf;
    color: #ffffff;
    cursor: not-allowed;
    }
    .popu{
      align-content: center;
    }